In [184]:
# Created by: Anthony ElHabr
# Purpose: Extract NBA teams from espn.go.com

import pandas as pd
import numpy as np
from datetime import datetime, date

YEAR = 2015
# scores_df = pd.read_csv("nba-scores-2015.csv", nrows = 6*82)
scores_df = pd.read_csv("nba-scores-2015.csv")
win_totals_df = pd.read_csv("nba-win-totals-2015.csv", index_col=False)

In [189]:
default_pick = []
tony_pick = []

default_wins_to_date = []
default_losses_to_date = []
tony_wins_to_date = []
tony_losses_to_date = []

actual_sum_win = []
actual_sum_loss = []
default_sum_win = []
default_sum_loss = []
tony_sum_win = []
tony_sum_loss = []

schedule_team_tony_mu = []
schedule_team_tony_sigma = []
schedule_team_tony_win_total_pick = []
other_team_tony_mu = []
other_team_tony_sigma = []
other_team_tony_win_total_pick = []

# alternate method: all_teams = scores_df['team_schedule'].unique()
all_teams = win_totals_df['team_abbrv']

for t in all_teams:
    
    # change variable name for clarity
    this_team = t
    this_team_win_total = win_totals_df.loc\
    [win_totals_df['team_abbrv'] == this_team]['win_total']
    # need to convert type from pandas series objects to float
    this_team_win_total = float(this_team_win_total)
    
    # alternatively, could sum once at the end of for loop instead
    default_sum_win_num = 0
    default_sum_loss_num = 0
    tony_sum_win_num = 0
    tony_sum_loss_num = 0
    
    team_df = scores_df.loc[scores_df['team_schedule'] == this_team]
    
    # type of "row" would tuple without "index"
    # type of "row" is pandas series with "index"
    for index, row in team_df.iterrows():
        home_flag = row.loc['home_flag']

        if home_flag == 1:
            other_team = row.loc['away_team']
        else:
            other_team = row.loc['home_team']

        other_team_win_total = win_totals_df.loc\
        [win_totals_df['team_abbrv'] == other_team]['win_total']

        # need to convert type from pandas series objects to float
        other_team_win_total = float(other_team_win_total)
        
        if this_team_win_total > other_team_win_total or\
        (this_team_win_total == other_team_win_total and home_flag):
            default_pick.append(this_team)
            default_wins_to_date.append('1')
            default_losses_to_date.append('0')
            default_sum_win_num += 1
        else:
            default_pick.append(other_team)
            default_wins_to_date.append('0')
            default_losses_to_date.append('1')
            default_sum_loss_num += 1
    
        this_team_tony_win_total_pick_flag = win_totals_df.loc\
        [win_totals_df['team_abbrv'] == this_team]['tony_win_total_pick_flag']
        
        this_team_tony_win_total_pick_num = float(win_totals_df.loc\
        [win_totals_df['team_abbrv'] == this_team]['tony_win_total_pick_num'])
        
        # mean of normal distribution
        this_team_tony_mu_num = 0
        if not this_team_tony_win_total_pick_num > 0:
            if (this_team_tony_win_total_pick_flag == 'o').bool():
                this_team_tony_mu_num = int(round(this_team_win_total+1))
            else:
                this_team_tony_mu_num = int(round(this_team_win_total))
        else:
            this_team_tony_mu_num = this_team_tony_win_total_pick_num
        schedule_team_tony_mu.append(this_team_tony_mu_num)

        # standard deviation of normal distribution
        this_team_tony_sigma_num = 0
        this_team_tony_win_total_confidence = win_totals_df.loc\
        [win_totals_df['team_abbrv'] == this_team]\
        ['tony_win_total_confidence']
        # scale tony_win_total_confidence by a reasonable factor
        this_team_tony_sigma_num =\
        float(((len(all_teams)+1)-this_team_tony_win_total_confidence)/1)
        schedule_team_tony_sigma.append(this_team_tony_sigma_num)

        # calculate normal distribution N(mu, sigma^2)            
        this_team_tony_win_total_pick_num =\
        this_team_tony_sigma_num * np.random.randn()\
        + this_team_tony_mu_num
        
        schedule_team_tony_win_total_pick.append\
        (this_team_tony_win_total_pick_num)
            
        other_team_tony_win_total_pick_flag = win_totals_df.loc\
        [win_totals_df['team_abbrv'] == other_team]['tony_win_total_pick_flag']
        
        other_team_tony_win_total_pick_num = float(win_totals_df.loc\
        [win_totals_df['team_abbrv'] == other_team]['tony_win_total_pick_num'])
        
        # calculate mean of normal distribution
        other_team_tony_mu_num = 0        
        if not other_team_tony_win_total_pick_num > 0:
            if (other_team_tony_win_total_pick_flag == 'o').bool():
                other_team_tony_mu_num = int(round(other_team_win_total+1))
            else:
                other_team_tony_mu_num = int(round(other_team_win_total))
        else:
            other_team_tony_mu_num = other_team_tony_win_total_pick_num
        other_team_tony_mu.append(other_team_tony_mu_num)

        # calculate standard deviation of normal distributio
        other_team_tony_sigma_num = 0
        other_team_tony_win_total_confidence = win_totals_df.loc\
        [win_totals_df['team_abbrv'] == other_team]\
        ['tony_win_total_confidence']
        # scale tony_win_total_confidence by a reasonable factor
        other_team_tony_sigma_num =\
        float(((len(all_teams)+1)-other_team_tony_win_total_confidence)/1)
        other_team_tony_sigma.append(other_team_tony_sigma_num)

        # calculate normal distribution N(mu, sigma^2)            
        other_team_tony_win_total_pick_num =\
        other_team_tony_sigma_num * np.random.randn()\
        + other_team_tony_mu_num
        
        other_team_tony_win_total_pick.append\
        (other_team_tony_win_total_pick_num)
        
        if this_team_tony_win_total_pick_num >\
        other_team_tony_win_total_pick_num or\
        (this_team_tony_win_total_pick_num ==
         other_team_tony_win_total_pick_num and home_flag):
            tony_pick.append(this_team)
            tony_wins_to_date.append('1')
            tony_losses_to_date.append('0')
            tony_sum_win_num += 1
        else:
            tony_pick.append(other_team)
            tony_wins_to_date.append('0')
            tony_losses_to_date.append('1')
            tony_sum_loss_num += 1

    actual_sum_win_num = team_df['wins_to_date'].iloc[-1]
    actual_sum_loss_num = team_df['losses_to_date'].iloc[-1]
    
    # print this_team
    # print actual_sum_win_num, default_sum_win_num, tony_sum_win_num
    # print actual_sum_loss_num, default_sum_loss_num, tony_sum_loss_num

    actual_sum_win.append(actual_sum_win_num)
    actual_sum_loss.append(actual_sum_loss_num)
    default_sum_win.append(default_sum_win_num)
    default_sum_loss.append(default_sum_loss_num)
    tony_sum_win.append(tony_sum_win_num)
    tony_sum_loss.append(tony_sum_loss_num)

print "Finished running analysis"

ATL
60 60 46
22 22 36
BOS
40 41 41
42 41 41
BKN
38 10 24
44 72 58
CHA
33 22 33
49 60 49
CHI
50 61 55
32 21 27
CLE
53 73 58
29 9 24
DAL
50 33 33
32 49 49
DEN
30 8 25
52 74 57
DET
32 29 34
50 53 48
GS
67 82 66
15 0 16
HOU
56 63 56
26 19 26
IND
38 40 42
44 42 40
LAC
56 69 65
26 13 17
LAL
21 16 31
61 66 51
MEM
55 59 48
27 23 34
MIA
37 50 56
45 32 26
MIL
41 73 62
41 9 20
MIN
16 2 19
66 80 63
NO
45 51 44
37 31 38
NY
17 18 27
65 64 55
OKC
45 75 71
37 7 11
ORL
25 22 30
57 60 52
PHI
18 0 16
64 82 66
PHX
39 31 35
43 51 47
POR
51 8 17
31 74 65
SAC
29 18 27
53 64 55
SA
55 79 59
27 3 23
TOR
49 50 44
33 32 38
UTAH
38 38 36
44 44 46
WSH
46 49 52
36 33 30
Finished running model

In [190]:
analysis_db_list = []
set_of_lists = [default_pick, default_wins_to_date, default_losses_to_date,\
                tony_pick, tony_wins_to_date, tony_losses_to_date,\
                schedule_team_tony_win_total_pick,\
                schedule_team_tony_mu, schedule_team_tony_sigma,\
                other_team_tony_win_total_pick,\
                other_team_tony_mu, other_team_tony_sigma]

for i in range(len(default_pick)):
    single_item = []
    
    for j in set_of_lists:
        single_item.append(j[i])
    
    analysis_db_list.append(single_item)

# analysis_db_list

2460
2460
2460
2460
2460
2460
2460
2460
2460
2460
2460
2460

In [191]:
df_col_headers = ['default_pick',\
                  'default_wins_to_date', 'default_losses_to_date',\
                  'tony_pick',\
                  'tony_wins_to_date', 'tony_losses_to_date',\
                  'schedule_team_tony_win_total_pick',\
                  'schedule_team_tony_mu', 'schedule_team_tony_sigma',\
                  'other_team_tony_win_total_pick',\
                  'other_team_tony_mu', 'other_team_tony_sigma']

analysis_df = pd.DataFrame(analysis_db_list, columns=df_col_headers)

# analysis_df

In [192]:
scores_df2 = pd.concat([scores_df, analysis_df], axis=1)

# scores_df2.head()

In [193]:
schedule_team_tony_win_total_pick_mean = []
schedule_team_tony_mu_mean = []
schedule_team_tony_sigma_mean = []
other_team_tony_win_total_pick_mean = []
other_team_tony_mu_mean = []
other_team_tony_sigma_mean = []

for t in all_teams:
    
    this_team = t
    team_df2 = scores_df2.loc[scores_new_df['team_schedule'] == this_team]
    
    schedule_team_tony_win_total_pick_mean_num =\
    sum(team_df2['schedule_team_tony_win_total_pick'])/\
    len(team_df2['schedule_team_tony_win_total_pick'])
    
    schedule_team_tony_win_total_pick_mean.\
    append(schedule_team_tony_win_total_pick_mean_num)
    
    schedule_team_tony_mu_mean_num =\
    sum(team_df2['schedule_team_tony_mu'])/\
    len(team_df2['schedule_team_tony_mu'])
    
    schedule_team_tony_mu_mean.\
    append(schedule_team_tony_mu_mean_num)
    
    schedule_team_tony_sigma_mean_num =\
    sum(team_df2['schedule_team_tony_sigma'])/\
    len(team_df2['schedule_team_tony_sigma'])
    
    schedule_team_tony_sigma_mean.\
    append(schedule_team_tony_sigma_mean_num)
    
    other_team_tony_win_total_pick_mean_num =\
    sum(team_df2['other_team_tony_win_total_pick'])/\
    len(team_df2['other_team_tony_win_total_pick'])
    
    other_team_tony_win_total_pick_mean.\
    append(other_team_tony_win_total_pick_mean_num)
    
    other_team_tony_mu_mean_num =\
    sum(team_df2['other_team_tony_mu'])/\
    len(team_df2['other_team_tony_mu'])
    
    other_team_tony_mu_mean.\
    append(other_team_tony_mu_mean_num)
    
    other_team_tony_sigma_mean_num =\
    sum(team_df2['other_team_tony_sigma'])/\
    len(team_df2['other_team_tony_sigma'])
    
    other_team_tony_sigma_mean.\
    append(other_team_tony_sigma_mean_num)

In [194]:
analysis_summary_db_list = []
set_of_lists = [all_teams,\
                actual_sum_win, default_sum_win, tony_sum_win,\
                actual_sum_loss, default_sum_loss, tony_sum_loss,\
                schedule_team_tony_win_total_pick_mean,\
                schedule_team_tony_mu_mean, schedule_team_tony_sigma_mean,\
                other_team_tony_win_total_pick_mean,\
                other_team_tony_mu_mean, other_team_tony_sigma_mean]

for i in range(len(all_teams)):
    single_item = []
    
    for j in set_of_lists:
        single_item.append(j[i])
    
    analysis_summary_db_list.append(single_item)

# analysis_summary_db_list

In [195]:
df_col_headers = ['schedule_team',\
                  'actual_sum_win', 'default_sum_win', 'tony_sum_win',\
                  'actual_sum_loss', 'default_sum_loss', 'tony_sum_loss',\
                  'schedule_team_tony_win_total_pick_mean',\
                  'schedule_team_tony_mu_mean', 'schedule_team_tony_sigma_mean',\
                  'other_team_tony_win_total_pick_mean',\
                  'other_team_tony_mu_mean', 'other_team_tony_sigma_mean']

analysis_summary_df = pd.DataFrame\
(analysis_summary_db_list, columns=df_col_headers)

analysis_summary_df

,schedule_team,actual_sum_win,default_sum_win,tony_sum_win,actual_sum_loss,default_sum_loss,tony_sum_loss,schedule_team_tony_win_total_pick_mean,schedule_team_tony_mu_mean,schedule_team_tony_sigma_mean,other_team_tony_win_total_pick_mean,other_team_tony_mu_mean,other_team_tony_sigma_mean
0,ATL,60,60,46,22,22,36,50.385842,51,9,43.567220,42,15.890244
1,BOS,40,41,41,42,41,41,42.906167,44,29,40.711417,42,14.987805
2,BKN,38,10,24,44,72,58,29.187964,29,15,45.507604,43,15.439024
3,CHA,33,22,33,49,60,49,37.292352,33,30,42.477331,43,15.036585
4,CHI,50,61,55,32,21,27,54.360436,51,16,43.756518,42,15.719512
5,CLE,53,73,58,29,9,24,54.822272,57,23,38.884611,42,15.060976
6,DAL,50,33,33,32,49,49,38.827484,39,18,43.850187,43,15.560976
7,DEN,30,8,25,52,74,57,29.693103,27,14,43.632333,43,15.707317
8,DET,32,29,34,50,53,48,35.422668,35,19,42.793039,42,15.085366
9,GS,67,82,66,15,0,16,60.423475,61,11,43.792185,42,15.756098
10,HOU,56,63,56,26,19,26,60.809084,56,25,46.139432,42,15.207317
11,IND,38,40,42,44,42,40,43.677653,44,3,40.517889,42,16.317073
12,LAC,56,69,65,26,13,17,57.577996,57,6,43.455628,42,15.743902
13,LAL,21,16,31,61,66,51,31.154877,30,24,41.404657,43,14.756098
14,MEM,55,59,48,27,23,34,50.196780,51,5,42.296131,42,16.012195
15,MIA,37,50,56,45,32,26,49.870983,47,17,40.803457,42,15.609756
16,MIL,41,73,62,41,9,20,57.952904,58,1,43.444155,41,15.939024
17,MIN,16,2,19,66,80,63,25.510310,26,20,44.548934,43,15.597561
18,NO,45,51,44,37,31,38,46.823734,48,27,44.539851,42,15.073171
19,NY,17,18,27,65,64,55,30.652030,32,13,43.146514,42,15.646341
20,OKC,45,75,71,37,7,11,60.447524,59,10,42.104477,41,15.451220
21,ORL,25,22,30,57,60,52,34.703046,34,22,46.013338,43,15.402439
22,PHI,18,0,16,64,82,66,23.416750,22,8,42.055424,43,15.573171
23,PHX,39,31,35,43,51,47,37.775896,37,12,41.862609,43,15.548780
24,POR,51,8,17,31,74,65,28.598088,28,7,42.710401,43,15.817073
25,SAC,29,18,27,53,64,55,32.150307,32,2,43.913270,43,16.000000
26,SA,55,79,59,27,3,23,55.335339,59,28,40.433701,41,14.780488
27,TOR,49,50,44,33,32,38,45.633138,46,4,42.662685,42,16.304878
28,UTAH,38,38,36,44,44,46,42.845450,42,21,43.895222,43,14.817073
29,WSH,46,49,52,36,33,30,50.248273,47,26,41.858914,42,15.158537

In [196]:
analysis_summary_df.describe()

,actual_sum_win,default_sum_win,tony_sum_win,actual_sum_loss,default_sum_loss,tony_sum_loss,schedule_team_tony_win_total_pick_mean,schedule_team_tony_mu_mean,schedule_team_tony_sigma_mean,other_team_tony_win_total_pick_mean,other_team_tony_mu_mean,other_team_tony_sigma_mean
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,41.000000,41.000000,41.733333,41.000000,41.000000,40.266667,43.290064,42.733333,15.500000,42.892638,42.300000,15.500000
std,13.454906,24.963422,15.624767,13.454906,24.963422,15.624767,11.576653,11.738335,8.803408,1.680976,0.651259,0.428442
min,16.000000,0.000000,16.000000,15.000000,0.000000,11.000000,23.416750,22.000000,1.000000,38.884611,41.000000,14.756098
25%,32.250000,19.000000,30.250000,31.250000,21.250000,26.250000,32.788492,32.250000,8.250000,41.910813,42.000000,15.103659
50%,40.500000,40.500000,41.500000,41.500000,41.500000,40.500000,43.291910,44.000000,15.500000,42.969777,42.000000,15.567073
75%,50.750000,60.750000,55.750000,49.750000,63.000000,51.750000,53.366787,51.000000,22.750000,43.835687,43.000000,15.753049
max,67.000000,82.000000,71.000000,66.000000,82.000000,66.000000,60.809084,61.000000,30.000000,46.139432,43.000000,16.317073